
/* .main{
   

} */
.btn{
    background-color: black;
    color: wheat;
    font-size: 20px;
    margin: 20px;
}
.circle{
    height: 300px;
    width: 300px;
    background-color:rgb(22, 11, 32);
    box-shadow: 3px 3px 7px blue ;
    margin: 20px;

    border-radius: 300px 300px;
}
.rectangle{
    height: 300px;
    width: 500px;
    background-color:rgb(22, 11, 32);
    box-shadow: 3px 3px 7px blue ;
    margin: 20px;

    }
.square{
    height: 300px;
    width: 300px;
    background-color:rgb(243, 232, 236);
    box-shadow: 3px 3px 7px blue ;
    margin: 20px;
     

}    